__pycache__/

*.npy
*.npz
*.pyc
*.pyd
*.so
*.ipynb
.ipynb_checkpoints
_build
build/
dist/
*.pkl
*.hd5
*.csv
.env
.vim
.nvimrc
.vscode
*.egg-info/


# special software
mlruns/

.pytest_cache/
.mypy_cache/
.vscode/
*.swp
./pretrain
.idea/
