__pycache__/

*.npy
*.npz
*.pyc
*.pyd
*.so
*.ipynb
.ipynb_checkpoints
# _build
build/
dist/
*.pkl
*.hd5
*.csv
# *.html
*.dot
*.xml
.env
.vim
.nvimrc
.vscode
*.egg-info/

# special software
.pytest_cache/
.mypy_cache/
.vscode/
*.swp
./pretrain
.idea/
.DS_Store
node_modules/
cache/
tmp/
