__pycache__/

*.npy
*.npz
*.pyc
*.pyd
*.so
*.ipynb
.ipynb_checkpoints
_build
_templates
build/
dist/
*.pkl
*.hd5
*.csv
*.out
*.html
*.dot
*.xml
*.log
.env
.vim
.nvimrc
.vscode
*.egg-info/
*.db
*.json
*.zip

# special software
.pytest_cache/
.mypy_cache/
.vscode/
.history/
*.swp
./pretrain
.idea/
.DS_Store
node_modules/
cache/
tmp/
learnware_pool/
PFS/
data/
