include *.rst
recursive-include docs *
recursive-exclude tests *
recursive-exclude examples *
include *.md
recursive-include learnware *.py
recursive-include learnware *.c *.h *.pyx *.pxd *.pxi
include LICENSE